@{
    ViewBag.Title = "Assignment 3A";
}

<div class="container">
    <h1>Welcome to COMP 466, Assignment 2</h1>
    <br>

    <ul>
        <li>COMP 466 - Advanced Technologies for Web-Based Systems</li>
        <li>Assignment 2</li>
        <li>Evgeny Zaev </li>
        <li>Began working: 6 Feb 2021</li>
        <li>Completed: 21 Feb 2022</li>
        <li>Estimated hours: 250</li>
    </ul>

    <p>
        In this assignment, I created 2 websites. The first allows the users to save weblinks and the second one provides a learning platform.
        Both require the user to register and authenticate before using the website.

        The project can be found here - <a href="https://testjenya.herokuapp.com/" style="font-size: 1.5em;">PROJECT</a>
    </p>



</div>